.viewpjheaders {
  display: flex;
  //   padding: 5px;
  color: #1862c1;
  border-color: #3c11d740;
  //   width: 99%;
  height: 40px;
  //   padding: 9px;
  font-size: 22px;
}

.list_item {
  font-size: 18px;
}
