<div>
    <nz-tag nzColor="#153b5a" class="projecttitle">
        <span>&nbsp;{{projectCategory}}</span>
    </nz-tag>
</div>


<div *ngFor="let company of _projects">
    <nz-tag *ngIf="company.name" class="companynametag" [nzColor]="'magenta'">{{company.name}}</nz-tag>
    <div class="projectsflex">
        <div *ngFor="let project of company.projects">
            <nz-switch ngModel="loading"></nz-switch>
            <nz-card style="width: 300px;margin-top: 16px; height: 311px;" [nzActions]="[actionEllipsis]">
                <nz-skeleton nzActive="true" [nzLoading]="loading">
                    <nz-card-meta style="height: 200px;" class="project-title" [nzAvatar]="avatarTemplate"
                        [nzTitle]="project.title" [nzDescription]="project.description">
                    </nz-card-meta>
                </nz-skeleton>
            </nz-card>
            <ng-template #actionEllipsis>
                <button nz-button nzType="primary"
                    (click)="this.viewpj.showModalMiddle(project.title, project.moredesc, project.rrs)">More
                    details</button>
            </ng-template>
        </div>
    </div>
</div>

<app-viewproject #viewpj></app-viewproject>