<div>
    <div class="profilebkg">
        <div class="profiledetailsblk">
            <h3 class="header">Objective:</h3>
            <div class="desc">
                I am a full stack web enthusiast having <b>2 years of </b> experience in application layers,
                presentation
                layers, and databases. Willing to work in an organization that offers challenging opportunities
                and enriches my technical and managing skills and helps to achieve high carrier growth through a
                continuous learning process and helps to keep myself dynamic and competitive with the changing
                scenario of the world.
            </div>
        </div>
        <div class="profiledetailsblk">
            <h3>Education:</h3>
            <div>
                <b>B.TECH | 2019 | REVA UNIVERSITY</b>
                <p>· Branch: CSE | Secured: 8.59 CGPA</p><br>
                <b>PUC | 2015 | KALPATARU PU COLLEGE</b>
                <p>· combination: PCMB | Secured: 83%</p><br>
                <b>SSLC | 2013 | SNEHA HIGH SCHOOL</b>
                <p>· Secured: 90.88%</p>
            </div>
        </div>
    </div>
    <div class="profilebkg">
        <div class="profiledetailsblk">
            <h3>Experience:</h3>
            <div>
                <p>· Working as an Independent consultant for Fujitsu India (Client)</p>
                <p>· Involved in the development of Rest APIs using Django</p>
                <p>· Involved in the development of fully fledged micro applications using React, and Angular frameworks
                </p>
                <p>· Involved in the development of python automation framework</p>
                <p>· Executed many POCs for clients</p>
                <p>· Involved in the development of hiring tool which made the recruitment process easier and fast</p>
                <p>· Also got hands-on deployment tools such as Apache, Nginx, uWSGI, and Docker</p>
            </div>
        </div>
    </div>
    <div class="profilebkg">
        <div class="profiledetailsblk">
            <h3>Certifications:</h3>
            <div>
                <p class="ctheader"><b>Hacker Rank</b></p>
                <hr>
                <p>· JavaScript Certificate: (Credential ID: 02378214144e)</p>
                <p>· Python Certificate: (Credential ID: b73078f49101)</p>
                <p>· React Certificate: (Credential ID: c1c68fe9e5f2)</p>
                <p>· Angular Certificate: (Credential ID: 10f610a8bcc6)</p>

            </div>
        </div>
        <div class="profiledetailsblk">
            <h3>Awards:</h3>
            <div>
                · Rising Star | Aug 26, 2020 | Terralogic Inc
                Received this award as a mark of appreciation towards dedication and hard work in the team
            </div>
        </div>
    </div>




</div>