<div class="container-fluid">
    <div class="row font" style="background-color: #191923; ">
        <div class="col-sm-3" style="height: 100%; width: 100%;">
            <div class="avatarblock">
                <div class="card">
                    <div>
                        <nz-avatar nzIcon="user" nzSrc="./assets/images/myavatar1.jpg" [nzSize]="150"></nz-avatar>
                        <h3 style="color: #fff; font-size: 18px;">Manjunath KO</h3>
                        <h4 style="color: #858587; font-size: 18px; font-weight: 400; letter-spacing: .25px;">
                            Full stack developer</h4>
                    </div>
                </div>
                <div class="card scrolleffect"
                    style="background-color: #20202a; color: #fff; overflow-y: scroll; max-height: 500px;">
                    <div class="flexrowevn">
                        <div class="flexcol xsmfnt">
                            <div>Residence</div>
                            <div>Age</div>

                        </div>
                        <div class="flexcol xsmfnt">
                            <div class="dimcolor">Bengaluru</div>
                            <div class="dimcolor">23</div>
                        </div>
                    </div>


                    <div>
                        <hr>
                        <div>Programming languages</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#1e4360">
                                    <img src="./assets/images/python.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;Python</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/javascript.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Javascript</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>Front end web frameworks</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#1e4360">
                                    <img src="./assets/images/atom.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;Reactjs</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#6e2a30">
                                    <img src="./assets/images/angular.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Angular</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>Back end web frameworks</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/django.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;Django</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#575759">
                                    <img src="./assets/images/flask.jpg" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Flask</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#47653d">
                                    <img src="./assets/images/node.jpg" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Nodejs</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <span>Express</span>&nbsp;<img src="./assets/images/javascript.png" alt="javascript"
                                        title="javascript" height="20px" width="20px">
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>DevOps</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/docker.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;Docker</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/swarm.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Docker Swarm</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div> Front end web technologies</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#793018">
                                    <img src="./assets/images/html.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;HTML</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/css.jpg" alt="javascript" title="javascript" height="20px"
                                        width="20px">
                                    <span>&nbsp;CSS</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/javascript.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;JavaScript</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#153b5a">
                                    <img src="./assets/images/jquery.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;jQuery</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/ajax.jpg" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;AJAX</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#301d54">
                                    <img src="./assets/images/bootstrap.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Bootstrap</span>
                                </nz-tag><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="rightblock" style="width: 100%;">
                <div>
                    <app-projects projectCategory="Company projects" [loading]="loading" [projects]=cpnyprojects></app-projects>
                    <app-projects projectCategory="Personal projetcs" [loading]="loading" [projects]=perslprojects></app-projects>
                    <app-projects projectCategory="Open source contributions" [loading]="loading" [projects]=opensrcprojects></app-projects>
                </div>
            </div>
        </div>
    </div>