<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="container-fluid">
    <div class="row font" style="background-color: #191923; ">
        <div class="col-sm-3" style="height: 100%; width: 100%;">
            <div class="avatarblock">
                <div class="card">
                    <div style="padding: 5px">
                        <nz-avatar nzIcon="user" nzSrc="./assets/images/myavatar1.jpg" [nzSize]="150"></nz-avatar>
                        <h3 style="color: #fff; font-size: 18px;">Manjunath KO</h3>
                        <h4 style="color: #858587; font-size: 18px; font-weight: 400; letter-spacing: .25px;">
                            Full stack developer</h4>
                    </div>
                </div>
                <div class="card scrolleffect"
                    style="background-color: #20202a; color: #fff; overflow-y: scroll;">
                    <div class="flexrowevn">
                        <div class="flexcol xsmfnt">
                            <div>Residence</div>
                            <div>Age</div>

                        </div>
                        <div class="flexcol xsmfnt">
                            <div class="dimcolor">Bengaluru</div>
                            <div class="dimcolor">23</div>
                        </div>
                    </div>


                    <div>
                        <hr>
                        <div>Programming languages</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#1e4360">
                                    <img src="./assets/images/python.png" alt="python" title="python" height="20px"
                                        width="20px">
                                    <span>&nbsp;Python</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/javascript.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Javascript</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>Front end web frameworks</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#1e4360">
                                    <img src="./assets/images/atom.png" alt="Reactjs" title="Reactjs" height="20px"
                                        width="20px">
                                    <span>&nbsp;Reactjs</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#6e2a30">
                                    <img src="./assets/images/angular.png" alt="Angular" title="Angular" height="20px"
                                        width="20px">
                                    <span>&nbsp;Angular</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>Back end web frameworks</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/django.png" alt="Django" title="Django" height="20px"
                                        width="20px">
                                    <span>&nbsp;Django</span>
                                </nz-tag>
                            </div>
                            <!-- <div class="icon">
                                <nz-tag nzColor="#575759">
                                    <img src="./assets/images/flask.jpg" alt="Flask" title="Flask" height="20px"
                                        width="20px">
                                    <span>&nbsp;Flask</span>
                                </nz-tag>
                            </div> -->
                            <div class="icon">
                                <nz-tag nzColor="#47653d">
                                    <img src="./assets/images/node.jpg" alt="Nodejs" title="Nodejs" height="20px"
                                        width="20px">
                                    <span>&nbsp;Nodejs</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <span>Express</span>&nbsp;<img src="./assets/images/javascript.png" alt="Express"
                                        title="Express" height="20px" width="20px">
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div>Tools</div>
                        <div class="flexrowctr">
                            <div class="icon">
                                <nz-tag nzColor="rgba(52, 52, 136, 0.77)">
                                    <img src="./assets/images/github.png" alt="Git" title="Git" height="20px"
                                        width="20px">
                                    <span>&nbsp;Git</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/github.png" alt="Git Hub" title="Git Hub" height="20px"
                                        width="20px">
                                    <span>&nbsp;Git Hub</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="rgb(45, 101, 137)">
                                    <img src="./assets/images/bitbucket.png" alt="Bitbucket" title="Bitbucket"
                                        height="20px" width="20px">
                                    <span>&nbsp;Bitbucket</span>
                                </nz-tag>
                            </div>

                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/docker.png" alt="Docker" title="Docker" height="20px"
                                        width="20px">
                                    <span>&nbsp;Docker</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="rgba(230, 95, 42, 0.48)">
                                    <img src="./assets/images/gitlab.png" alt="Git Lab" title="Git Lab" height="20px"
                                        width="20px">
                                    <span>&nbsp;Git Lab</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="rgb(87, 87, 89)">
                                    <img src="./assets/images/nginx.png" alt="Nginx" title="Nginx" height="20px"
                                        width="20px">
                                    <span>&nbsp;Nginx</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="rgb(87, 87, 89)">
                                    <img src="./assets/images/apache.png" alt="Apache" title="Apache" height="20px"
                                        width="20px">
                                    <span>&nbsp;Apache</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/uwsgi.png" alt="uWSGI" title="uWSGI" height="20px"
                                        width="20px">
                                    <span>&nbsp;uWSGI</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="rgb(71, 101, 61)">
                                    <img src="./assets/images/aws.jpeg" alt="AWS" title="AWS" height="20px"
                                        width="20px">
                                    <span>&nbsp;AWS</span>
                                </nz-tag>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div> Front end web technologies</div>
                        <div class="flexrowctr"  style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#793018">
                                    <img src="./assets/images/html.png" alt="HTML" title="HTML" height="20px"
                                        width="20px">
                                    <span>&nbsp;HTML</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#2d6589">
                                    <img src="./assets/images/css.jpg" alt="javascript" title="javascript" height="20px"
                                        width="20px">
                                    <span>&nbsp;CSS</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/javascript.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;JavaScript</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr" style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#153b5a">
                                    <img src="./assets/images/jquery.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;jQuery</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#301d54">
                                    <img src="./assets/images/bootstrap.png" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Bootstrap</span>
                                </nz-tag>
                            </div>
                        </div>
                        <div class="flexrowctr"  style="margin-top: 5px;">
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/ajax.jpg" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Ant Design</span>
                                </nz-tag>
                            </div>
                            <div class="icon">
                                <nz-tag nzColor="#3c382b">
                                    <img src="./assets/images/ajax.jpg" alt="javascript" title="javascript"
                                        height="20px" width="20px">
                                    <span>&nbsp;Material UI</span>
                                </nz-tag>
                            </div>
                       </div>
                    </div>
                </div>
                <ul nz-menu nzMode="horizontal" class="btm-nav-bar">
                    <li nz-menu-item>
                        <a style="color: #fff; text-decoration: none;" href="https://github.com/kom3"
                            target="_blank">GitHub</a>
                    </li>
                    <li nz-menu-item>
                        <a style="color: #fff; text-decoration: none;"
                            href="https://www.linkedin.com/in/manjunath-ko-b4181115a/" target="_blank">LinkedIn</a>
                    </li>
                    <!-- <li nz-menu-item>
                        <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                            [(nzPopoverVisible)]="visible_skype" nzPopoverTrigger="click"
                            [nzPopoverContent]="skypeTemplate">
                            Skype
                        </a>
                        <ng-template #skypeTemplate>
                            live:manjunathkankatteko
                        </ng-template>
                    </li> -->
                    <li nz-menu-item>
                        <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                            [(nzPopoverVisible)]="visible_email" nzPopoverTrigger="click"
                            [nzPopoverContent]="emailTemplate">
                            Email
                        </a>
                        <ng-template #emailTemplate>
                            manjunathkankatteko@gmail.com
                        </ng-template>
                    </li>
                    <li nz-menu-item>
                        <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                            [(nzPopoverVisible)]="visible_phone" nzPopoverTrigger="click"
                            [nzPopoverContent]="phoneTemplate">
                            Phone
                        </a>
                        <ng-template #phoneTemplate>
                            +91 8197326715
                        </ng-template>
                    </li>
                </ul>
            </div>

            <!-- <ul nz-menu nzMode="horizontal" class="btm-nav-bar">
                <li nz-menu-item>
                    <a style="color: #fff; text-decoration: none;" href="https://github.com/kom3"
                        target="_blank">GitHub</a>
                </li>
                <li nz-menu-item>
                    <a style="color: #fff; text-decoration: none;"
                        href="https://www.linkedin.com/in/manjunath-ko-b4181115a/" target="_blank">LinkedIn</a>
                </li>
                <li nz-menu-item>
                    <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                        [(nzPopoverVisible)]="visible_skype" nzPopoverTrigger="click"
                        [nzPopoverContent]="skypeTemplate">
                        Skype
                    </a>
                    <ng-template #skypeTemplate>
                        live:manjunathkankatteko
                    </ng-template>
                </li>
                <li nz-menu-item>
                    <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                        [(nzPopoverVisible)]="visible_email" nzPopoverTrigger="click"
                        [nzPopoverContent]="emailTemplate">
                        Email
                    </a>
                    <ng-template #emailTemplate>
                        manjunathkankatteko@gmail.com
                    </ng-template>
                </li>
                <li nz-menu-item>
                    <a style="color: #fff; text-decoration: none;" nzType="primary" nz-popover nzPopoverTitle=""
                        [(nzPopoverVisible)]="visible_phone" nzPopoverTrigger="click"
                        [nzPopoverContent]="phoneTemplate">
                        Phone
                    </a>
                    <ng-template #phoneTemplate>
                        +91 8197326715
                    </ng-template>
                </li>
            </ul> -->

        </div>
        <div class="col-sm-9">
            <div class="rightblock" style="width: 100%;">
                <div>
                    <app-projects projectCategory="Company projects" [loading]="loading" [projects]=cpnyprojects>
                    </app-projects>
                    <app-projects projectCategory="Personal projetcs" [loading]="loading" [projects]=perslprojects>
                    </app-projects>
                </div>
            </div>
        </div>
    </div>